//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-block;
  padding: rem(8) rem(52);

  font-weight: 600;
  font-size: rem(20);
  line-height: math.div(32, 20);
  text-align: center;
  color: #fff;

  background: $mainOrange;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;

  transition: box-shadow 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.63);
    }
  }
  &_border {
    background-color: #fff;
    color: $mainOrange;
    border: 2px solid $mainOrange;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
    border-radius: 3px;

    transition: box-shadow 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.63);
      }
    }
  }
  &_black {
    background-color: $mainDarkColor;
    color: #fff;
    border: 2px solid $mainDarkColor;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.43);

    padding: rem(8) rem(30);
  }
}
