//<QUANTITY>
// Снипет (HTML): qa
.quantity {
  width: rem(150);
  height: rem(50);
  display: flex;
  // border: 1px solid rgba(166, 166, 166, 0.45);
  // .quantity__button
  &__button {
    flex: 0 0 rem(50);
    position: relative;
    cursor: pointer;
    background-color: #000;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s ease 0s;
      margin: 0px 0px 0px -4.5px;
      background-color: #fff;
      width: 10px;
      height: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before,
        &::after {
          background-color: rgba(129, 122, 122, 0.5);
        }
      }
    }
    // .quantity__button_plus
    &_plus {
      border-radius: 4px 0 0 4px;
      &::before {
        transform: rotate(-90deg);
      }
    }
    // .quantity__button_minus
    &_minus {
      border-radius: 0 4px 4px 0;
    }
  }
  // .quantity__input
  &__input {
    flex: 1 1 auto;
    input {
      height: 100%;
      font-weight: 500;
      font-size: rem(18);
      line-height: math.div(22, 18);
      /* identical to box height */

      color: #000000;
      width: 100%;
      text-align: center;
      background-color: rgba(210, 210, 210, 0.425);
    }
  }
}
